$color_principal: #986c79;
$color_secundario: #d6b6b1;
$color_claro: #f8eaf1;
$color_BGinputs: #f8eaf1;


$rosa_principal: #EAA79F;
$rosa_secundario: #FFDDD4;
$azul: #393B50;
$gris: #9A9AA0;
$claro: #F4F4F4;

$fuente_principal: "Montserrat", "Montserrat Alternates", sans-serif, Helvetica, Arial;

$fuente_secundaria: "Montserrat", "Montserrat Alternates", sans-serif, Helvetica, Arial;

$fuente_principal: "Poppins" , sans-serif;
