@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Montserrat Alternates", sans-serif, Helvetica, Arial;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  width: 100%;
}

.btn {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  background-color: #986c79;
  color: white;
  cursor: pointer;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}
.btn:hover {
  background-color: #986c79;
}
.btn:active {
  background-color: #d6b6b1;
  color: #986c79;
  outline: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.btn:focus {
  outline: none;
}

.config__body, .login__body, .registro__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#config__header, #registro__header, #login__header {
  background-color: #986c79;
  display: flex;
  justify-content: center;
  width: 100%;
}
#config__header nav, #registro__header nav, #login__header nav {
  width: 100%;
  max-width: 770px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo--container {
  width: 40px;
}

.config__banner, .login__banner, .registro__banner {
  width: 100%;
  max-width: 770px;
  background-image: url("../public/assets/images_index/top_index.jpg");
  background-size: 100%;
  background-position: bottom;
  height: 95px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: end;
}
.config__banner p, .login__banner p, .registro__banner p {
  font-weight: bold;
  color: #fff;
  background-color: rgba(170, 156, 163, 0.8274509804);
  font-size: 15px;
  padding: 20px;
}

.config__pasos {
  width: 100%;
  max-width: 770px;
  margin-top: 30px;
  overflow-wrap: normal;
}

.config__pasos--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 20px;
  text-align: center;
  overflow-wrap: normal;
}
.config__pasos--container div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.config__pasos--container .config__logo--container {
  display: block;
  width: 70%;
  margin-top: 40px;
}

.btn .fa-lg {
  margin-right: 8px;
}

.config__form, .login__form, .registro__form {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 20px;
}
.config__form input, .login__form input, .registro__form input {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  width: 100%;
  text-align: left;
  border: 0 solid;
  padding: 4px;
  color: #986c79;
  border-bottom: 1px solid #986c79;
  background-color: #f8eaf1;
}
.config__form input:focus, .login__form input:focus, .registro__form input:focus {
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #986c79;
  background-color: #aa9ca3;
}
.config__form input:disabled, .login__form input:disabled, .registro__form input:disabled {
  background-color: #d9dbda;
  color: #986c79;
}
.config__form span, .login__form span, .registro__form span {
  font-size: 12px;
  width: 100%;
  color: #7d858b;
  padding-left: 5px;
  text-align: left;
  margin-top: 5px;
}
.config__form button, .login__form button, .registro__form button {
  margin-top: 50px;
  align-self: center;
}

.config__finalizar {
  padding: 5px;
  background-color: #aa9ca3;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.7);
}

table {
  font-size: 12px;
  margin: auto;
  border-spacing: 0px;
  border-collapse: collapse;
}

thead {
  display: block;
  position: relative;
}

th {
  width: 50px;
  height: 30px;
  background-color: #d6b6b1;
  padding-right: 15px;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.tbody-agenda {
  height: 250px;
  max-height: 250px;
  overflow-y: scroll;
  display: block;
  margin-top: 10px;
}

.bg-subtitles-horarios {
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin-top: 10px;
  margin-right: 30px;
  padding: 5px 15px;
  width: 100%;
  font-weight: bold;
  color: #fff;
  background-color: #aa9ca3;
  font-size: 15px;
  text-align: left;
}

.cell-agenda {
  font-size: 10px;
  color: #986c79;
  padding-top: 7px;
  width: 50px;
  height: 30px;
  vertical-align: middle;
  border-bottom: 1px solid #d6b6b1;
  border-right: 1px solid #d6b6b1;
}

td {
  padding: 0px;
}

.day-agenda-labels {
  text-align: right;
  margin: auto;
  width: 50px;
  /* display: inline-table; */
  margin-top: -24px;
  margin-left: -6px;
  font-size: 12px;
  /* position: absolute; */
}

#registro__header, #login__header {
  background-color: transparent;
}

.registro__logo--container, .login__logo--container {
  width: 70%;
  margin-top: 40px;
}

.registro__form--container, .login__form--container {
  width: 100%;
  max-width: 770px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registro__form--container div, .login__form--container div {
  display: flex;
  flex-direction: column;
  width: 100%;
}/*# sourceMappingURL=styles.css.map */